<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Mantenedor</title>
</head>
<body>
    <h1>Mantenedor de Reservas</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha</th>
          
          </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
          <tr>
            <th scope="row">{{reserva.idReservacion}}</th>
            <td>{{reserva.nombreReservacion}}</td>
            <td>{{reserva.hora}}</td>
            <td>{{reserva.fecha}}</td>
            <td> <a href="{% url 'form_mod_reserva' reserva.idReservacion %}">Modificar</a> </td>
            <td> <a href="{% url 'form_del_reserva' reserva.idReservacion %}">Eliminar</a> </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <a href="{% url 'form_reserva' %}">Agregar Reserva</a>
   
</body>
</html>